/*
Colors used:
Primary Color (Black): #0B0C10;
Secondary Color (White): #C7C7C7
Secondary Color (Yellow): #EFBD07;
*/



html {
  background-color: #0B0C10;

}





body{
    background-color: #0B0C10;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 16px; /* sets the font size to 16px */
    font-weight: 300; /* sets the font weight to 300 */
    line-height: 1.6; /* sets the line-height to 1.6 for font size*/
    color: #C7C7C7;
}


header {
  background-color: #0B0C10;
  text-align: right;
  padding: 10px 0;
  border-bottom: 3px solid #C7C7C7;
  position: fixed;
  box-shadow: 0px 7px 14px -8px #C7C7C7;
  width: 100%;
}





img {
    width: 100%;
}




h1, h2, h3, h4 {
    line-height: 1.4;
}

h1{
    font-family: oswald;
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-family: oswald;
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-family: oswald;
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

a {
    color: #EFBD07;
    text-decoration: none; /* No underlining */
  }




  
a:hover {
    color: #C7C7C7;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

a:visited { /* visited link */
    color: rgb(117, 21, 161);
  }

a:active { /* selected link */
    color: #EFBD07;
  }

  a:hover,
  a:focus {
    color: #C7C7C7;
    text-decoration: underline;
  }



  .logo{
    /* styles for logo image*/
    max-width: 80px;
    float: left;
  }
  
  .me{
    /* styles for my about image*/
    max-width: 150px;
    display: block; 
    margin: 0 auto;
    text-align: center;
  }
  

  .button {
    display: inline-block;
    background-color: #EFBD07;
    color: #C7C7C7; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px ;
    border-radius: 5px;
    border-bottom: 2px solid #EFBD07; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #EFBD07;
    text-transform: uppercase;
    border: 2px solid #EFBD07;
    margin: 20px;
  }
  
  
  .button.contact:hover {
    background-color: #EFBD07;
    color: #C7C7C7;
  }
  
  

/* Layout styling */

.container {
  padding:0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


#hero, #work, #about-page, #project-page {
  background-color: #0B0C10;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


#hero h1 {
  text-align: center; /* Centers text */
}


#work h2 {
  text-align: center; /* Centers text */
}


#about-page h1, h2 {
  text-align: center; /* Centers text */
}


#contact {
  background-color: #0B0C10;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-top: 3px solid #C7C7C7;
}


#contact h2 {
  text-align: center; /* Centers text */
}




/* navigation styling */

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  max-width: 100%;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  position: relative;
}

nav > ul > li > a:visited { /* visited link */
  color: rgb(102, 0, 128);
}

main {
  padding-top: 133px;
}