/*
Colors used:
Primary Color (Black): #0B0C10;
Secondary Color (White): #C7C7C7;
Secondary Color (Yellow): #EFBD07;
*/


* {
  box-sizing: border-box;
}

html,
#index-page,
#about-page,
#project-page {
  background-color: #0B0C10;
}




header {
  background-color: #0B0C10;
  padding: 10px 0 4px;
  margin: 0 auto;
  /*text-align: center;*/
  position: relative;
  border-bottom: 3px solid #C7C7C7;
  box-shadow: 40px 7px 14px -8px #C7C7C7;
}


body {
  background-color: #0B0C10;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 400;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 for font size*/
  color: #C7C7C7;
}





h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}



img {
  /* styles for images*/
  width: 70%;
}



.logo {
  /* styles for logo image*/
  max-width: 80px;
  float: left;
}

.me {
  /* styles for my about image*/
  max-width: 150px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.socials {
  /* styles for social logos*/
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 10px;
}


a {
  color: #EFBD07;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}



.active a {
  /* selected link */
  color: #C7C7C7;
}

a:hover {
  color: #C7C7C7;
  text-decoration: line-through;
  /* Underlining when hovering over a link */
}


/* //////// Buttons /////// */
.button {
  display: inline-block;
  background-color: #EFBD07;
  font-family: 'Playfair Display', serif;
  color: #0B0C10;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #EFBD07;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #0B0C10;
  text-decoration: line-through;
  background-color: #67560f;
}

.button.contact {
  background-color: transparent;
  color: #EFBD07;
  border: 2px solid #EFBD07;
  margin: 20px;
}


.button.contact:hover {
  background-color: #EFBD07;
  color: #0B0C10;
}


#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #EFBD07; /* Set a background color */
  color: #0B0C10; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #ad9114; /* Add a dark-grey background on hover */
}

#jmpMenu {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 0px; /* Place the button at the top of the page */
  margin: 0;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #0B0C10; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */ 
  font-size: 18px; /* Increase font size */
}

#jmpMenu > ul {
  margin: auto;
  width: 100vw;
  padding: 5px;
}

#jmpMenu > ul > li {
  display: inline-block;
  padding: 20px;
}

#jmpMenu > ul > li > a {
  padding: 0 10px;
  border-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #EFBD07;
}







/* Layout styling */

.container {
  padding: 0 10px;
  text-align: center;
}


.container > ul {
  list-style-type: none;
  padding: 0;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}



#hero,
#work {
  background-color: #0B0C10;
  padding: 15px 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}


#work h2 {
  text-align: center;
  /* Centers text */
}


#about-page h1,
h2 {
  text-align: center;
  /* Centers text */
}


#contact {
  background-color: #0B0C10;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  border-top: 3px solid #C7C7C7;
  width: 100%;
}


#contact h2 {
  text-align: center;
  /* Centers text */
}




/* navigation styling */

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

main {
  padding-top: 15px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}


.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #C7C7C7;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}






/* CSS Animation */


#UI {
  animation: fadeInUp 4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#bolt g {
  opacity: 0;
  animation: dropIn 10s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--order) * 200ms);
  animation-iteration-count: infinite;
}


@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }

  30%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}






/*==== Media Queries */

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  display: inline-block;
  padding: 15px;
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {


  header {
    text-align: unset;
    padding: 15px 0 13px;
    margin: 0 auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    max-width: 100%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  nav>ul {
    margin: 1em 0;
  }

  
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 15px 0 13px;
    margin: 0 auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-5 {
    width: 41.66%;
  }


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #navigation {
    animation: fadeInRight 2s;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(40%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


}




/* ==============================
X-large devices (1440px or larger)
================================= */
/*@media only screen and (min-width: 1440px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width:auto;
    float: right;
    margin-top: 4px;
  }

  .col-xl-4 {
  width: 33.33%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
}*/


/*==============================
Extra-large devices (1920px or larger)
================================= */
/*@media only screen and (min-width: 1920px) {
}*/


