/*
Colors used:
Primary Color (Black): #0B0C10;
Secondary Color (White): #C7C7C7;
Secondary Color (Yellow): #EFBD07;
*/


* {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  box-sizing: border-box;
}


#header {
  width: 100%;
  height: 100%;
  background-image: url(img/background.png);
  background-size: cover;
  background-position: center;
  padding: 10px 0 4px;
  margin: 0 auto;
}


body {
  background-color: #0B0C10;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 400;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 for font size*/
  color: #C7C7C7;
}


.container {
  padding: 10px 10%;
  text-align: center;
}

.container>ul {
  list-style-type: none;
  padding: 0;
}

div.work {
text-align: center;
  padding: 20px;
  border-top: 3px solid #EFBD07;
}

div.work>p {
  padding: 15px;
}


.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  text-align: center;

}



/* //////// Navigation /////// */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


nav>ul>li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav>ul>li>a {
  color: #C7C7C7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}

nav>ul>li>a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #EFBD07;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: .10s;
}

nav>ul>li>a:hover::after {
  width: 100%;
}

a {
  color: #EFBD07;
  text-decoration: none;
  /* No underlining */
}


.active a {
  /* selected link */
  color: #EFBD07;
}


.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}


.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #C7C7C7;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}



/* //////// images /////// */
img {
  /* styles for images*/
  width: 60%;
}


.logo {
  /* styles for logo image*/
  max-width: 110px;
  float: left;
}

.me {
  /* styles for my about image*/
  max-width: 150px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.project {
  /* styles for my about image*/
  max-width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
}


.socials {
  /* styles for social logos*/
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 10px;
}

svg {
  /* styles for SVG's*/
  width: 90%;
  display: block;
  margin: auto;
}






/* //////// GRID Styling /////// */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the width of each grid item as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
}

.project {
  display: flex;
  flex-direction: column;
}

.project-info {
  padding: 20px;
}








/* //////// Sections Styling /////// */
#hero {
  font-family: 'Source Serif Pro', serif;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
  border-top: 3px solid #C7C7C7;
  width: 100%;
}




#contact {
  background-color: #0B0C10;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  border-top: 3px solid #C7C7C7;
  width: 100%;
}



/* //////// Text Styling /////// */

#hero h1 {
  font-size: 50px;
  text-align: center;
  /* Centers text */
}

#hero h1 span {
  color: #EFBD07;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
  padding: 20px;
}

h4 {
  font-weight: 400;
}

#contact h2 {
  text-align: center;
  /* Centers text */
}





/* //////// Buttons /////// */
.button {
  display: inline-block;
  background-color: #EFBD07;
  color: #0B0C10;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #EFBD07;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  /* Reduces the opacity of the button to 80% */
  background-color: #0B0C10;
  color: #EFBD07;
}






.button.contact {
  background-color: #EFBD07;
  color: #0B0C10;
  border: 2px solid #EFBD07;
  margin: 20px;
}


.button.contact:hover {
  background-color: #0B0C10;
  color: #EFBD07;
}


#topBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 30px;
  /* Place the button at the bottom of the page */
  right: 90px;
  /* Place the button 90px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: 2px solid #EFBD07;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #EFBD07;
  /* Set a background color */
  color: #0B0C10;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 5px;
  /* Rounded corners */
  font-size: 16px;
  /* Increase font size */
  font-weight: 500;
}

#topBtn:hover {
  background-color: #0B0C10;
  color: #EFBD07;
}


#jmpMenu {
  overflow: hidden;
  /* Hidden by default */
  display: none;
  position: fixed;
  top: 0px;
  /* Place the button at the top of the page */
  margin: 0;
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #0B0C10;
  /* Set a background color */
  cursor: pointer;
  /* Adds pointer on hover */
  font-size: 16px;
  width: 100%;
}

#jmpMenu>ul {
  margin: auto;
  text-align: center;
}

#jmpMenu>ul>li {
  display: inline-block;
  padding: 10px;
}

#jmpMenu>ul>li>a {
  padding: 0 10px;
  border-bottom: 10px;
  font-weight: 600;
  color: #EFBD07;
}






/*////// CSS Animation //////*/


#skeleton {
  animation: fadeInUp 4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#bolt g {
  opacity: 0;
  animation: dropIn 10s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--order) * 200ms);
  animation-iteration-count: infinite;
}


@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }

  30%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}






/* //////// Media Queries /////// */

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  display: inline-block;
  flex: 1;
  padding: 15px;
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {


  header {
    text-align: unset;
    padding: 15px 0 13px;
    margin: 0 auto;
  }


  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  nav>ul {
    margin: 1em 0;
  }


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 15px 0 13px;
    margin: 0 auto;
  }



  .col-lg-5 {
    width: 41.66%;
  }


  #navigation {
    animation: fadeInRight 2s;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(40%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


}




/* ==============================
X-large devices (1440px or larger)
================================= */
/*@media only screen and (min-width: 1440px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width:auto;
    float: right;
    margin-top: 4px;
  }

  .col-xl-4 {
  width: 33.33%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {ainer
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
}*/


/*==============================
Extra-large devices (1920px or larger)
================================= */
/*@media only screen and (min-width: 1920px) {
}*/